# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [published]
   workflow_dispatch:
    inputs:
      tags:
        description: 'Manual input tags' 

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Get Tag
      uses: olegtarasov/get-tag@v2.1
      id: tagName
      with:
          tagRegex: "foobar-(.*)"  # Optional. Returns specified group text as tag name. Full tag string is returned if regex is not defined.
          tagRegexGroup: 1 # Optional. Default is 1.
#     - name: Set Tag # Output usage example
#       run: |
#           echo "${{ steps.tagName.outputs.tag }}"
#           tag="${{ steps.tagName.outputs.tag }}"
#           echo "GIT_TAG=$tag" >> $GITHUB_ENV
#       shell: bash
#     - name: Test tag
#       run: |
#         echo "${{ env.GIT_TAG }}"
#       shell: bash
    - name: Build and publish
      env:
        GIT_TAG: ${{ steps.tagName.outputs.tag }}
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        CI_VERIFY: True
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
